<p>Olá, <%= @resource.email %>!</p>

<p>Alguém solicitou um link para redefinir sua senha. Você pode fazer isso pelo link abaixo:</p>

<p><%= link_to "Redefinir minha senha", edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou isso, ignore este e-mail.</p>
<p>Sua senha não será alterada até você acessar o link acima e criar uma nova.</p>
